<md-card>
  <md-card-header class="userContainer">
    <div class="profilePicContainer">
      <img  class="profilePic" src="https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2.jpg">
    </div>
    <div class="nameContainer">
      <md-card-subtitle>@realDonaldTrump</md-card-subtitle>
      <md-card-title>Donald J. Trump</md-card-title>
    </div>
  </md-card-header>

  <img md-card-image src="https://pbs.twimg.com/media/C3cp3XdVYAA6zqE.jpg:large"/>

  <md-card-content class="textContainer">
    <p class="tweetText">The American dream is back. We’re going to create an environment for small business like we haven’t had in many, many decades!</p>
  </md-card-content>
</md-card>
