<md-card>
  <md-card-header class="userContainer">
    <div class="profilePicContainer">
      <img class="profilePic" [src]="tweet.user.profileImageUrl">
    </div>
    <div class="nameContainer">
      <md-card-subtitle>{{tweet.user.username}}</md-card-subtitle>
      <md-card-title>{{tweet.user.realName}}</md-card-title>
    </div>
  </md-card-header>

  <img md-card-image *ngIf="tweet.imageUrl" [src]="tweet.imageUrl"/>

  <md-card-content class="textContainer">
    <p class="tweetText">{{tweet.text}}</p>
  </md-card-content>
</md-card>
